.container {
  padding-right: 10px;
  padding-left: 10px;

  background-color: white;
}

.mainScreen {
  padding: 10px 0;
  position: relative;
}

.mainScreen img {
  width: 355px;
  height: 200px;
}

.mainScreen span {
  position: absolute;
  top: 30px;
  left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #ffffff;
}
